header
			.navbar
				a(href="/logout").btn.btn-danger.navbar-btn.pull-right Logout
				p.navbar-text
					a.text-success.username(href="/account")
						span.icon.glyphicon.glyphicon-user
						| #{theuser.nickname} (#{theuser.id})