doctype html
html
	head
		title FunChats
		link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
		link(href="/css/style.css",rel="stylesheet")

	body.jumbotron
			.container.main
				h1 Welcome
				p
					a(href="/getstarted").btn.btn-success.btn-jg Get Started